<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">

        <div class="row">
        <div class="col-md-12 mb-1 mx-auto">

        <div class="contact" id="contact">
        <ul class="social-icon">
            <li><a href="https://www.facebook.com/profile.php?id=100007706285441 "><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/salma12221348 "><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/SalmaQueen"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/salma-mohamed-4b991115a/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p>&copy;Salma Mohamed @2020</p>
        </div>
           
        </div>  

        
        </div>
        </div>

  </div>

</footer>
<!-- Footer -->