<div class="jumbotron text-center mb-0" >

    <h1 class="title">Fitness Tracker</h1>


 <div class="container">
 <div class="main-conclusion">
   <h1  style="font-size:1.5rem;text-align:center; color:darkblue;">Get Started by creating new activity</h1>
   <%= link_to 'Create Activity', new_activity_path, class: 'activity btn ' %>

</div>
</div>
    <div class="cards row">
    <div class="card col-sm-3">
     <img src="https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
     
    </div>
    <div class="card col-sm-3">
     <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 ">
     
    </div>
    
    <div class="card col-sm-3">
     <img src="https://images.unsplash.com/photo-1530549387789-4c1017266635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 ">
     
    </div>
    <div class="card col-sm-3">
     <img src="https://images.unsplash.com/photo-1594882645126-14020914d58d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 ">
     
    </div>
   </div>
   
    
   
   
    
      
   
   

</div>

 


<div class="cly ">
<div class="main-conclusion">
 
<h3>Conclusion</h3>
<p>This is an application that helps you track your activities in terms of when 
the duration and the distance that you have covered
This is an application that helps you track your activities in terms of when 
the duration and the distance that you have covered
This is an application that helps you track your activities in terms of when 
the duration and the distance that you have covered
</p>

</div>
</div>

