<div class="container show" style="margin-top:4rem;">
<h4>New Activity</h4>

<%= render 'form', activity: @activity %>
<div class="text-center">
<%= link_to 'Back', activities_path, class: "btn btn-primary" %>
</div>
</div>
